@media (max-width: 768px) {
  header > .container-fluent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 40px;
    height: 160px;
  }
  .menu__item {
    height: auto;
  }
}

@media (max-width: 620px) {
  header > .container-fluent {
    flex-direction: row;
    justify-content: space-between;
    height: 68px;
    padding: 16px 24px;
  }
  .nav {
    display: none;
  }
  .burger {
    display: block;
  }
  .mobile {
    display: block;
  }
}

/* mercury */










/* mobile first */
@media (min-width: 768px) {
}
