:root {
  /* fonts */
  --main-font: 'Spartan';
  --secondary-font: 'Antonio';
  --font-size: 16px;
  /* colors */
  --mercury-color: #419ebb;
  --venus-color: #eda249;
  --earth-color: #6d2ed5;
  --mars-color: #d14c32;
  --jupiter-color: #d83a34;
  --saturn-color: #cd5120;
  --uranus-color: #1ec1a2;
  --neptune-color: #497efa;
  --white: #fff;
  --black: #070724;
  --hover-btn: #d8d8d8;
  /* settings */
  --padding: 40px;
  --container: 1110px;
  --body-bg: #f3f3f3;
  --anime: 0.3s ease-in-out;
  --image-size: 290px;
  --current-color: var(--mercury-color);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

:active,
:focus {
  outline-color: var(--main-color);
}

html,
body {
  min-width: 320px;
  height: 100%;
}

body {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.785;
  letter-spacing: 0.05em;
  color: var(--white);
  background: var(--black) url('../assets/images/background-stars.svg')
    center/cover no-repeat;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

ul > li {
  list-style-type: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
  /* vertical-align: top; */
}

button {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
  border: inherit;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.wrapper > main {
  flex: 1 1 auto;
}

.container {
  margin: 0 auto;
  width: calc(100% - (var(--padding) * 2));
  max-width: var(--container);

  /* border: 3px solid orange; */
}
.container-fluent {
  margin: 0 auto;
  max-width: 1440px;
  padding-left: 32px;
  padding-right: 40px;
}
/* header */
header > .container-fluent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 86px;
  /* min-height: 86px; */
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.logo {
  display: block;
  width: 109px;
  height: 36px;
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 500;
  font-size: 1.75rem;
  line-height: 1.28;
  letter-spacing: -1.05px;
  text-transform: uppercase;
  color: var(--white);
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 33px;
  /* border: 1px solid salmon; */
}
.menu__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 86px;
  font-weight: 700;
  font-size: 0.68rem;
  line-height: 2.27;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--white);
  border-top: 0.363em solid transparent;
  opacity: 0.75;
  transition: opacity var(--anime), border-top-color var(--anime);
}
.menu__item.active {
  border-top-color: var(--current-color);
}
.menu__item:hover {
  opacity: 1;
}
[data-menu="mercury"]:hover {
  border-top-color: var(--mercury-color);
}
[data-menu="venus"]:hover {
  border-top-color: var(--venus-color);
}
[data-menu="earth"]:hover {
  border-top-color: var(--earth-color);
}
[data-menu="mars"]:hover {
  border-top-color: var(--mars-color);
}
[data-menu="jupiter"]:hover {
  border-top-color: var(--jupiter-color);
}
[data-menu="saturn"]:hover {
  border-top-color: var(--saturn-color);
}
[data-menu="uranus"]:hover {
  border-top-color: var(--uranus-color);
}
[data-menu="neptune"]:hover {
  border-top-color: var(--neptune-color);
}
#hamburger {
  display: none;
  padding: 16px;
  padding-right: 0;
  opacity: 0.25;
  transition: opacity var(--anime);
  cursor: pointer;
}
#hamburger.active {
  opacity: 1;
}
.mobile {
  display: none;
  position: fixed;
  top: 68px;
  width: 100%;
  height: 100%;
  padding: 0 24px 0;
  background-color: var(--black);
  z-index: 100;
}
.mobile-menu__item {
  position: relative;
  padding: 20px 0 20px 44px;
  font-weight: 700;
  font-size: 0.937rem;
  line-height: 1.66;
  letter-spacing: 1.36364px;
  text-transform: uppercase;
  color: var(--white);
  background: url('../assets/images/icon-chevron.svg') right center / 4px 8px
    no-repeat;
  transition: background var(--anime);
}
.mobile-menu__item:hover {
  background: rgba(255, 255, 255, 0.2);
}
.mobile-menu__item:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.mobile-menu__item::before {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-color: var(--white);
  border-radius: 50%;
  content: '';
}
#mercury-mobile::before {
  background-color: var(--mercury-color);
}
#venus-mobile::before {
  background-color: var(--venus-color);
}
#earth-mobile::before {
  background-color: var(--earth-color);
}
#mars-mobile::before {
  background-color: var(--mars-color);
}
#jupiter-mobile::before {
  background-color: var(--jupiter-color);
}
#saturn-mobile::before {
  background-color: var(--saturn-color);
}
#uranus-mobile::before {
  background-color: var(--uranus-color);
}
#neptune-mobile::before {
  background-color: var(--neptune-color);
}
/* end-header */

/* hero */
.hero > .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 350px;
  /* grid-template-rows: auto; */
  margin-top: 126px;
}
.planet {
  position: relative;
  justify-items: center;
  align-content: center;
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  /* border: 1px solid forestgreen */
}
.planet img#planet {
  aspect-ratio: 1 / 1;
  width: 100%;
  max-width: var(--image-size);
}
.planet img#geology {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  aspect-ratio: 163 / 189;
  width: auto;
  /* max-width: 163px; */
  max-width: clamp(102px, 14.68vw, 163px);
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: end;
  row-gap: 34px;
  /* align-items: flex-end; */
  grid-column: 3 / 4;
}
.info p#content {
  height: 150px;
  /* padding-right: 80px; */
}
.info__link {
  position: relative;
  height: 26px;
  font-weight: 400;
  color: var(--white);
  opacity: 0.5;
}
.info__link a {
  padding-right: 8px;
  font-weight: 700;
  text-decoration: underline;
}
.info__link a::after {
  position: absolute;
  top: 0;
  transform: translate(8px, 25%);
  content: url('../assets/images/icon-source.svg');
  width: 12px;
  height: 12px;
}
.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 16px;
  margin-top: 34px;
  grid-column: 3 / 4;
}
.btn {
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 26px;
  height: 48px;
  padding: 12px 28px;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 2.08;
  letter-spacing: 2.57143px;
  text-transform: uppercase;
  color: var(--white);
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: background var(--anime);
}
.btn span {
  color: rgba(255, 255, 255, 0.5);
}
.btn:hover {
  background: rgba(216, 216, 216, 0.2);
}
.btn.active {
  background-color: var(--current-color);
}
/* background: var(--mercury-color); */
/* end-hero */

/* facts */
.facts > .container {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
  margin-top: 26px;
  margin-bottom: 36px;
}
.fact {
  flex: 1 1 25%;
  min-height: 52px;
  padding: 20px 24px 28px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.fact__heder {
  font-weight: 700;
  font-size: 0.6875rem;
  line-height: 2.28;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--white);
  opacity: 0.5;
}
.fact__content {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 1.3;
  /* identical to box height */
  letter-spacing: -1.5px;
  text-transform: uppercase;

  /* color: #ffffff; */
}
/* end-facts */
