:root {
  /* fonts */
  --main-font: 'Spartan';
  --secondary-font: 'Antonio';
  --font-size: 16px;
  /* colors */
  --mercury-color: #419ebb;
  --venus-color: #eda249;
  --earth-color: #6d2ed5;
  --mars-color: #d14c32;
  --jupiter-color: #d83a34;
  --saturn-color: #cd5120;
  --uranus-color: #1ec1a2;
  --white: #fff;
  --black: #070724;
  /* settings */
  --padding: 40px;
  --container: 1110px;
  --body-bg: #f3f3f3;
  --anime: 0.5s, ease;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

:active,
:focus {
  outline-color: var(--main-color);
}

html,
body {
  min-width: 320px;
  height: 100%;
}

body {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.78;
  color: var(--white);
  background: var(--black) url('../assets/images/background-stars.svg')
    center/cover no-repeat;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

ul > li {
  list-style-type: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
  /* vertical-align: top; */
}

button {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
  border: inherit;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.wrapper > main {
  flex: 1 1 auto;
}

/* .container {
  margin: 0 auto;
  max-width: var(--container);
  padding: 0 var(--padding);
} */

.container {
  margin: 0 auto;
  width: calc(100% - (var(--padding) * 2));
  max-width: var(--container);

  border: 3px solid orange;
}
.container-fluent {
  margin: 0 auto;
  max-width: 1440px;
  padding-left: 32px;
  padding-right: 40px;
}
/* header */
header > .container-fluent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 85px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.logo {
  display: block;
  width: 109px;
  height: 36px;
  font-family: 'Antonio';
  font-style: normal;
  font-weight: 500;
  font-size: 1.75rem;
  line-height: 1.28;
  letter-spacing: -1.05px;
  text-transform: uppercase;
  color: var(--white);
}
.menu {
  display: flex;
  justify-content: space-between;
  column-gap: 33px;
  opacity: .75;
}
.menu__item {
  font-weight: 700;
  font-size: 0.68rem;
  line-height: 2.27;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--white);
}
/* end-header */



